* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.cadastro {
  display: flex;
  flex-direction: column;
}

#nome,
#imagem,
#descricao {
  display: block;
}
